.cardWrapper .card {
 border: 1px solid #d9dafc;
 border-radius: 1rem;
 margin-bottom: 1rem;
}

@media only screen and (max-width: 610px) {
 .cardWrapper .card {
  margin: 0 auto;
  margin-bottom: 1rem;
 }
}

.cardWrapper .card .card-title,
.card-text {
 text-align: left;
 overflow: hidden;
 text-overflow: ellipsis;
 max-height: 5.5rem;
}
.cardWrapper .card .card-title {
 white-space: nowrap;
 text-align: left;
 overflow: hidden;
 text-overflow: ellipsis;
}

.displayFlex {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
}

.linkId,
.linkId:hover {
 text-decoration: none;
 color: black;
 cursor: pointer;
}

.cardBotton {
 margin-top: 1rem;
}
